.App {
 background-color: black;
}
.title {
 background-color: green;

}
.companyName {
  text-align: center;
  color: blue;
  text-shadow: 0px 0px 8px #61dafb;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aqua;
}
.navBar li {
  border-right: 3px solid black;
  float: left;
}
.navBar a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  margin: 10px;
}
.navBar li:hover {
  background-color: white;
}